[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyaudio = "*"
kivy = "*"
button = "*"
pillow = "*"
glob2 = "*"
opencv-python = "*"
pygame = "*"
speechrecognition = "*"
numpy = "*"

[requires]
python_version = "3.7"

[dev-packages]
autopep8 = "*"
